
  body{
    width: 100%;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
  }
  
.fundotour{
    background-image: url(Design\ sem\ nome\ \(1\).svg);
    position: absolute;
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
}